<main class="home bg-image flex">
  <section class="intro">
    <p>
      This project explores the unnamed artists within the open access
      collection of the National Musuem of African Art.
    </p>
  </section>

  <header class="header">
    <h1 class="title">
      UNNAMED
    </h1>

    <nav class="menu">
      <a href="javascript:showAbout();" class="menu-item">About</a>
      <a href="#/nationality" class="menu-item">Nationality</a>
      <a href="#/medium" class="menu-item">Medium</a>
    </nav>
  </header>

  <footer>
    <p>
      99% of the artifacts in the open access collection of the National Musuem
      of African Art have unnamed artists. What might their nationalities and
      medium tells us about them & the gaps in the collection?
    </p>
  </footer>

  <article class="remark">
    Wood face mask with broken horns by Bembe artists
  </article>
</main>
